* {
  outline: red solid 2px

}

body {
  background-color: green;
}

.fieldTokens {
  display: inline-block;
  box-sizing: border-box;
  outline: black solid 5px;
  margin: 8px 10%;
  padding: 2em

}

head footer {
  margin: 5em ;
}

h1 h4 {
  text-align: center;
}
